$bg-green: #A0AE50;
$fg-green: #FFF;

$bg-dark-green: #76825A;
$fg-dark-green: #FFF;

$border-standard: #CCC;

$link-color: #00AAEE;

$bg-medium: #F4F4F4;
$bg-dark: #ACA7A7;

$bg-light: #FFF;
$fg-light: #444;
