.main-content {
  padding: 2em;
  max-width: 800px;
  margin: auto;
}

.input-group {
  margin-bottom: 1em;

  label {
    display: block;
  }
}

.content-block {
  margin-bottom: 1.5em;
}

.option-bar {
  margin-bottom: 1em;
  text-align: right;
}

.option-input {
  display: inline-block;
  vertical-align: middle;
}

.styled-select {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #DDD;

  &:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    right: 5px;
    border-style: solid;
    border-width: 0.5em 0.35em 0 0.35em;
    border-color: transparent;
    border-top-color: #999;
    z-index: 1;
    transform: translateY(-50%);
  }

  select {
    position: relative;
    z-index: 2;
    font-size: 1em;
    min-width: 5em;
    margin-right: -1.5em;
    border: 0;
    background: transparent;
  }
}
